/*
  Based on the Eric Meyer CSS Reset v2.0 (http://meyerweb.com/eric/tools/css/reset/)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
	Silence is golden.

	This file is ready for you to start adding site-specific colours, variables and settings.
	We didn't add any so you don't need to delete them

*/
.container {
  width: 960px;
  margin: 0 auto;
}
header {
  float: left;
  width: 620px;
  margin-left: 170px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
.title {
  float: left;
  width: 220px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0;
}
.site-nav {
  float: left;
  width: 380px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0;
}
.content article {
  float: left;
  width: 620px;
  margin-left: 170px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
footer {
  float: left;
  width: 620px;
  margin-left: 170px;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 140%;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #262b30;
}
h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #535e69;
}
h4 {
  font-size: 32px;
  margin-top: 16px;
  margin-bottom: 8px;
}
h5 {
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 6px;
}
h6 {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 4px;
}
body {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: 200;
}
p {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 140%;
  margin: 16px 0;
  color: #262b30;
  font-weight: 200;
}
p.feature {
  font-size: 1.25em;
}
a {
  color: #991c00;
  text-decoration: none;
}
a:hover {
  color: #661300;
}
abbr,
acronym {
  border-bottom: 1px dotted;
  cursor: help;
}
address {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  font-style: italic;
}
blockquote {
  margin: 16px 0;
  padding: 0 0 0 32px;
}
cite {
  font-style: italic;
}
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  background: #f6f7f8;
  color: #535e69;
  font-size: 1em;
}
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: bold;
}
ol,
ul {
  margin: 16px 0;
  padding: 0 0 0 32px;
}
ol li,
ul li {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 140%;
  list-style-position: outside;
  color: #262b30;
}
ul li {
  list-style: disc;
}
ol li {
  list-style: decimal;
}
form {
  margin: 16px 0;
}
dl {
  margin: 16px 0;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: 0 0 8px;
}
table {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  width: 100%;
}
table th {
  padding: 8px;
  border: 1px solid #e8eaed;
  background: #ffffff;
  text-align: left;
  font-weight: bold;
}
table td {
  padding: 8px;
  border: 1px solid #e8eaed;
}
form {
  display: block;
}
fieldset {
  display: block;
  margin: 1.25em 0;
  padding: 0;
}
legend {
  display: block;
  width: 100%;
  margin: 0 0 1em 0;
  font-weight: bold;
  border-bottom: 1px solid #bfbfbf;
}
label {
  display: block;
  margin: 0 0 0.25em;
  font-weight: bold;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="image"],
input[type="color"] {
  display: block;
  width: 100%;
  padding: 0.125em;
  margin: 0 0 0.625em;
  vertical-align: middle;
  border: 1px solid #bfbfbf;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="image"]:hover,
input[type="color"]:hover {
  border: 1px solid #999999;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="image"]:focus,
input[type="color"]:focus {
  border: 1px solid #808080;
}
button,
input[type="button"],
input[type="submit"],
input[type="file"],
input[type="reset"] {
  padding: 0.125em;
  margin: 0 0 0.625em;
  font-family: inherit;
  font-size: 1em;
  -webkit-appearance: none;
}
input[type="file"] {
  line-height: 100%;
}
textarea {
  padding: 0.25em;
}
progress,
meter {
  padding: 0.125em;
  margin: 0 0 0.625em;
  font-family: inherit;
  font-size: 1em;
}
.carousel {
  width: 100%;
  height: auto;
  position: relative;
}
.carousel > .slide {
  position: relative;
  display: none;
}
.carousel > .slide.active {
  display: block;
}
.carousel.transition-fade > .slide {
  opacity: 0;
  display: block;
  height: 0;
}
.carousel.transition-fade > .slide.active {
  position: relative;
  top: 0;
  opacity: 1;
  z-index: 0;
  height: auto;
}
.carousel.transition-fade > .slide.left {
  position: absolute;
  top: 0;
  opacity: 0;
  height: auto;
  z-index: 1;
}
.carousel.transition-slide {
  position: relative;
  white-space: nowrap;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
  font-size: 0;
}
.carousel.transition-slide > .slide {
  vertical-align: top;
  white-space: normal;
  font-size: 100%;
  display: none;
  width: 100%;
}
.carousel.transition-slide > .slide.active {
  display: block;
  position: relative;
  left: 0;
  z-index: 2;
}
.carousel.transition-slide > .slide.left {
  display: block;
  position: absolute;
  left: -100%;
  top: 0;
  z-index: 1;
}
.carousel.transition-slide > .slide.right {
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 0;
}
.carousel.transition-slide.backwards > .slide.left {
  z-index: 0;
}
.carousel.transition-slide.backwards > .slide.right {
  z-index: 1;
}
body {
  background: #fff;
  border-top: 3px solid #991c00;
}
.clear {
  clear: both;
}
header {
  padding: 50px 0 20px;
  margin: 0 0 20px 0;
}
h1 span {
  font-size: 0.5em;
  color: #a1abb4;
  position: relative;
  left: 10px;
  top: 10px;
}
.site-nav {
  text-align: right;
  padding: 23px 0 0;
}
.site-nav a {
  padding: 0 0 0 10px;
  color: #991c00;
}
.site-nav .download {
  background: #991c00;
  color: white;
  padding: 4px 7px 4px;
  margin-left: 10px;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.site-nav .download:hover {
  background: #661300;
  text-decoration: none;
}
.demo {
  margin: 0 0 0px;
}
.content article {
  margin: 10px 0 10px;
}
.carousel-nav {
  text-align: center;
  padding: 20px 0 0;
}
.carousel-nav a.pager {
  border-radius: 50px;
  background: #f6f7f8;
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-size: 0;
  height: 10px;
  width: 10px;
  border: 1px solid #e8eaed;
}
.carousel-nav a.pager:hover {
  border: 1px solid #afb7c0;
}
.carousel-nav a.pager.active {
  background: #008b83;
  border: 1px solid #00726b;
}
.carousel-nav a.next {
  float: right;
}
.carousel-nav a.prev {
  float: left;
}
.carousel-nav a.prev,
.carousel-nav a.next {
  color: #bdc4cb;
}
.carousel-nav a.prev:hover,
.carousel-nav a.next:hover {
  color: #6a7885;
}
.table-wrap {
  width: 100%;
  overflow: scroll;
  margin: 20px 0 0;
}
footer {
  clear: both;
  padding: 0 0 50px;
  margin: 50px 0 0;
  border-top: 1px solid #dadee1;
}
footer p {
  font-size: 0.875em;
  color: #84919e;
}
td.line-numbers,
.gist-meta {
  display: none;
}
.gist .gist-file .gist-data {
  border-bottom: 0 !important;
}
.gist .gist-file {
  border: 0 !important;
}
code[id*="gist"] {
  margin-bottom: 30px;
}
.gist td {
  font-size: 0.875em;
  line-height: 120%;
}
